/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: grey;
  font-size: 0.7em;
	line-height: 1.4;
}

.container {
	margin: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
	max-width: 630px;
	text-align: center;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50px;
  grid-gap: 10px;
}

/* NOTE: I wasnt able to align all items to the margin of the boxes.*/

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

.box_1 h1{
  color: #eaeaea;
  padding-top: 10px;
}

.box_1{
  background: #424242;
  border-radius: 3px;
}
/*
.box_1::after{
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 1px #424242;
  border-bottom: 1px #424242;
  border-right: 1px #424242;
  border-left: 1px #424242;
  top: 100%;
  bottom: 50%;
  margin-left: -10%;
  content: '';
  // Tried this to make the arrow pointing down but couldnt get it to work.
}
*/

.box_2{
  display: grid;
  grid-template-columns: 70% 30%;
  height: 12px;
  background: #EF5F3C 70%;
  /* Not able to add colors to the individual box in the grids.*/
}

.box_3{
  border: #eaeaea 1px solid;
  box-shadow: 1px;
  height: 200px;
}

section .highlight_2{
  color: #EF5F3C;
}

section .highlight_3{
  color: black;
}

section .highlight_4{
  color: #20A1D4;;
}

.container form{
  padding-top: 20px;
}

.container input[type="number"]{
height: 40px;
width: 90px;
border-radius: 3px;
}

.give_now_button{
height: 40px;
width: 90px;
border: 0;
border-radius: 3px;
color: #ffffff;
background: #1CBC2C;
}

.last_buttons{
  height: 40px;
  width: 100px;
  border-radius: 3px;
  color: grey;

}
